<div class="container">
    <p class="navbar">
        <button [routerLink]="'mainpage'">Home</button>
        <button [routerLink]="'education'">Education</button>
        <button>Skills</button>
        <button>Projects/Internships</button>
        <a href="https://www.facebook.com/rraja2752"><img src="../../assets/images/facebook.png" alt="Fb" /></a>
        <a href="https://www.instagram.com/roushan_gopal/"><img src="../../assets/images/insta.png" alt="insta" /></a>
    </p>
    <router-outlet></router-outlet>

    <footer>
        <p>Desingned & Developed By : Roushan Raja</p>
    </footer>
</div>